/* google poopins font link import here */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Montserrat:wght@200;300;400;500;600;700&family=Poppins&display=swap');

::-moz-selection { /* Code for Firefox */
    color: white;
    background: green;
  }
  
  ::selection {
    color: white;
    background: green;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#fff;
    --secondary-color:#000;
}
body{
    background-color: blueviolet;
}
.dark-mode{
    --secondary-color:#fff;
    --primary-color:rgb(48, 48, 48);
}
.header{
    display: grid;
    grid-template-columns: 3fr 0.2fr;
    width: 100%;
    height: 30px;
    text-align: center;
    color: var(--secondary-color);
    font-family: 'Teko', sans-serif;
    padding: 1rem;
}
.header h1{
    padding-bottom: 15px;
}
.night-mode{
position: relative;
top: 2px;
right: 10px;
}
.night-mode span img{
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 1rem;
    background-color: bisque;
    cursor: pointer;
    transition: 0.3s;
}
.night-mode span img:hover{
    transform: scale(1.2);
}

body{
    
    background: var(--primary-color);
}
.body{
    width: 100vw;
    height: 100vh;
    grid-template-rows: 1fr 3fr 2.5fr;
}
.screen{
    width: 90%;
    height: 50vh;
    padding: 2rem;
    overflow: auto;
    cursor: pointer;
    margin: 20px auto;
    color: var(--secondary-color);
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 2px 2px rgb(237, 3, 3);
    background-color: var(--primary-color);
    background: url(https://cdn.pixabay.com/photo/2016/04/17/18/44/flower-1335287_1280.jpg) no-repeat fixed ;
    background-size:cover;
    backdrop-filter: blur(8px);
    
}
.text-editor{
    width: 90%;
    margin: auto;
    padding: 1rem;
    height: 400px;
   
}
textarea{
    position: sticky;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 30vh;
    resize: none;
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
}
/* footer css start here */
.footer{
    background-color: rgb(12, 24, 40);
    height: 35px;
}

.footer h1{
    text-align: center;
    color: white;
    font-family:  'poppins';
    font-size: 0.9em;
    padding-top: 8px;
    cursor: pointer;
}